*.log
*.exe
.vscode
.autopilot
FPGAClustering/
JetClustering/
reports/
*.pdf
*.csv
*.pkl
*.png
*.pyc
*.rpt
*.out
*.xml
*.app
*.aps
*.rules
*.mk
*.dir
*.d
*.o
**/KU115
**/syn
**/impl
**/.autopilot
**/csim
*.tar.gz
*.zip